* {
  padding: none;
  margin: none;
  list-style-type: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.back_ground_color {
  background-color: #161716;
  background-image: conic-gradient(
    at 50% 100%,
    #161716,
    rgba(0, 100, 0, 0.705)
  );
  min-height: 100vh;
}

.dflex .image_logo {
  width: 10%;
  margin-right: 270px;
  margin-top: 30px;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
  top: 0;
  height: 100px;
}

.dflex {
  display: flex;
}

.drop_down {
  margin-top: 30px;
  position: relative;
  display: inline-block;
}

.dropdown_content {
  position: absolute;
  display: none;
  background-color: white;
  min-width: 240px;
  padding-left: 40px;
  padding-top: 32px;
  padding-bottom: 15px;
  border-radius: 5px;
  z-index: 1;
  left: -50px;
  bottom: -430px;
}

.dropdown_content .block {
  margin-bottom: 27px;
  display: block;
}

.block:hover {
  color: #0050b2 !important;
}

.caret-up {
  position: absolute;
  bottom: 420px;
  font-size: 35px;
  color: white;
}

.drop_down:hover .dropdown_content {
  display: block;
}

.link_smart:active {
  color: #0050b2;
}

.active {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.link_smart {
  text-decoration: none;
  font-size: 20px;
  color: gray;
}

.circle-border {
  color: white;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  margin-left: 19px;
  cursor: pointer;
  margin-top: 10px;
}

.loan-app-dropdown {
  margin-top: 30px;
  position: relative;
  display: inline-block;
  margin-left: 60px;
}

.loan-app-dropdown span {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: block;
}

.loan-app-dropdown-content .dblock {
  margin-bottom: 27px;
  display: block;
}

.loan-app-dropdown:hover .loan-app-dropdown-content {
  display: block;
}

.loan-app-dropdown-content {
  position: absolute;
  display: none;
  background-color: white;
  min-width: 220px;
  padding-left: 30px;
  padding-top: 32px;
  padding-bottom: 15px;
  border-radius: 5px;
  z-index: 1;
}

.caret {
  position: absolute;
  bottom: 135px;
  font-size: 35px;
  color: white;
}

.dblock:hover {
  color: #0050b2 !important;
}

.carett {
  position: absolute;
  bottom: 192px;
  font-size: 35px;
  color: white;
}

.blog-dropdown {
  margin-top: 30px;
  position: relative;
  display: inline-block;
  margin-left: 60px;
}

.blog-dropdown-content {
  position: absolute;
  display: none;
  background-color: white;
  min-width: 200px;
  padding-left: 30px;
  padding-top: 32px;
  padding-bottom: 15px;
  border-radius: 5px;
  z-index: 1;
  right: -140px;
}

.caretfa {
  position: absolute;
  bottom: 135px;
  font-size: 35px;
  color: white;
}

.blog-dropdown span {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: block;
}

.blog-dropdown-content .dblock {
  margin-bottom: 27px;
  display: block;
}

.blog-dropdown:hover .blog-dropdown-content {
  display: block;
}

.get-job-dropdown {
  margin-top: 30px;
  position: relative;
  display: inline-block;
  margin-left: 60px;
}

.get-job-dropdown span {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: block;
}

.job-dropdown-content {
  position: absolute;
  display: none;
  background-color: white;
  min-width: 200px;
  padding-left: 30px;
  padding-top: 32px;
  padding-bottom: 15px;
  border-radius: 5px;
  z-index: 1;
}

.get-job-dropdown:hover .job-dropdown-content {
  display: block;
}

.job-dropdown-content .dblock {
  margin-bottom: 27px;
  display: block;
}

.about-dropdown {
  margin-top: 30px;
  position: relative;
  display: inline-block;
  margin-left: 60px;
}

.about-dropdown span {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: block;
}

.about-dropdown-content {
  position: absolute;
  display: none;
  background-color: white;
  min-width: 200px;
  padding-left: 30px;
  padding-top: 32px;
  padding-bottom: 15px;
  border-radius: 5px;
  z-index: 1;
}

.about-dropdown-content .dblock {
  margin-bottom: 27px;
  display: block;
}

.about-dropdown:hover .about-dropdown-content {
  display: block;
}

.apply_dev {
  margin-top: 30px;
  margin-left: 60px;
}

.apply-loan {
  text-decoration: none;
  border: 1px solid white;
  background-color: white;
  padding: 10px 50px 10px 50px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #0050b2;
}

.apply-loan:hover {
  background-color: #0050b2;
  color: white;
  transition: 0.4s;
  border: 1px solid #0050b2;
}

.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 27px;
  margin-top: 30px;
  margin-left: 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1d2746;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.fa-cloud-sun {
  color: #ffd700;
  position: absolute;
  bottom: 7px;
  left: 30px;
  font-size: 15px;
}

.switch .fa-moon {
  color: #ffd700;
  position: absolute;
  font-size: 15px;
  margin-left: 10px;
  top: 6px;
  display: none;
}

input:checked + .slider {
  background-color: #1d2746;
}

input:focus + .slider {
  box-shadow: 0 0 5px #1d2746;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.layout_one_dev {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.forms {
  background-color: white;
  width: 495px;
  padding-left: 54px;
  padding-top: 25px;
  height: 680px;
  border-radius: 10px;
}
.select_dev select {
  padding: 20px 0px 20px 30px;
  font-size: 17px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 5px;
  color: gray;
  width: 400px;
  outline: none;
}

select option {
  font-size: 18px;
}

.forms label {
  font-size: 15px;
  font-weight: bold;
}

.amount_dev input[type="text"] {
  padding: 20px 0px 20px 30px;
  font-size: 17px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 5px;
  width: 400px;
  outline: none;
}

.days-dev input[type="text"] {
  padding: 20px 0px 20px 30px;
  font-size: 17px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 5px;
  width: 400px;
  outline: none;
}

.repay-dev input[type="text"] {
  padding: 20px 0px 20px 30px;
  font-size: 17px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 5px;
  outline: none;
  width: 400px;
}

.fa-dollar-sign {
  margin-left: -30px;
}

.forms .bitton {
  font-size: 15px;
  text-decoration: none;
  padding: 10px 100px 10px 100px;
  background-color: #1a1f2c;
  border: 1px solid #1a1f2c;
  border-radius: 5px;
  text-align: center;
  margin-left: 41px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.financial-text {
  margin-left: 30px;
}

.rectangle {
  display: flex;
}

.rectangle .rectt {
  background-color: #f57950;
  width: 240px;
  height: 20px;
  margin-top: 39px;
}

.head .head-smart-f {
  color: white;
  font-size: 55px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.rectangle .head-buss {
  color: white;
  font-size: 55px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  margin-left: -240px;
}

.financial-text .bitton-one {
  font-size: 19px;
  background-color: #0050b2;
  border: 1px solid #0050b2;
  padding: 12px 30px 12px 30px;
  border-radius: 5px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.financial-text .link {
  margin-left: 30px;
  font-size: 18px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.link .fa-arrow-right {
  display: none;
}

.link:hover .fa-arrow-right {
  display: inline-block;
}

.financial-text p {
  color: white;
  font-size: 18px;
  margin-bottom: 45px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.copera p {
  font-size: 20px;
  font-weight: 500;
}

.shape-four-img {
  margin-left: -180px;
  margin-top: -300px;
}

.shape-two-img {
  margin-left: -275px;
  margin-top: -300px;
}

.shape-one {
  margin-left: 440px;
  margin-top: -1350px;
}

.shape-five {
  margin-left: 550px;
  margin-top: -700px;
}

.shape-three {
  margin-left: 550px;
}

.txt-content {
  display: flex;
  justify-content: center;
}

.rectan {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rectan .recti {
  background-color: #72b1ff;
  width: 125px;
  height: 17px;
  margin-top: 33px;
  margin-right: -158px;
}

.rectan .three-steps {
  font-weight: bold;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-boxe {
  display: flex;
  justify-content: center;
}

.flex-boxe .box-one {
  border: 1px solid #f4f5f6;
  background-color: #f4f5f6;
  width: 400px;
  height: 300px;
  border-radius: 5px;
}

.box-one .wave-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.box-one p {
  text-align: center;
  margin-top: 20px;
}

.box-one h3 {
  margin-top: 20px;
}

.box-two .like-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.flex-boxe .box-two {
  border: 1px solid #f4f5f6;
  background-color: #f4f5f6;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  margin-left: 20px;
}

.box-two p {
  text-align: center;
  margin-top: 20px;
}

.box-two h3 {
  margin-top: 20px;
}

.flex-boxe .box-three {
  border: 1px solid #f4f5f6;
  background-color: #f4f5f6;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  margin-left: 20px;
}

.box-three .dollar-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.box-three h3 {
  margin-top: 20px;
}

.box-three p {
  text-align: center;
  margin-top: 20px;
}

.box-one:hover {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all ease-in 250ms;
}

.box-two:hover {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all ease-in 250ms;
}

.box-three:hover {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all ease-in 250ms;
}

.layout-four-container {
  display: flex;
  justify-content: center;
}

.easy-nav {
  display: flex;
  flex-direction: row;
}

.easy-nav .easy-rec {
  background-color: #72b1ff;
  width: 145px;
  height: 17px;
  margin-top: 38px;
  margin-left: 115px;
}

.easy-nav .easy {
  margin-left: -260px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
}

.layout-content-two .man-el {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
}

.layout-one-images .amount-image {
  margin-left: 80px;
  margin-bottom: 57px;
}

.layout-one-images .basic-info {
  margin-left: -500px;
  margin-bottom: -120px;
}

.layout-content-two {
  margin-left: 160px;
  margin-top: 85px;
}

.tab {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.tab button {
  background-color: white;
  float: left;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  padding: 14px 26px;
  transition: 0.3s;
  font-size: 17px;
  color: gray;
}

.tab button.activee {
  color: black;
  border-bottom: 2px solid #0050b2;
}

.tabcontent {
  display: none;
  margin-top: 50px;
}

.tabcontent div.freelance-content-container {
  display: flex;
  justify-content: center;
}

.tabcontent div.smbs-content-container {
  display: flex;
  justify-content: center;
}

.tabcontent div.bussiness-content-container {
  display: flex;
  justify-content: center;
}

.freelance-layout-one .acces_ {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
}

.freelance-content-container .freelance-layout-one {
  margin-top: 100px;
}

.dev-banking {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dev-banking .bankin-rec {
  background-color: #72b1ff;
  width: 205px;
  height: 17px;
  margin-top: 35px;
  margin-right: 230px;
  margin-left: -230px;
}

.dev-banking .banking-txt {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  margin-left: -430px;
}

.freelance-content-container .freelance-images {
  margin-left: 50px;
}

.freelance-layout-one button[type="submit"] {
  border: none;
  outline: none;
  background-color: white;
  color: #0050b2;
  margin-top: 15px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  font-weight: bold;
  transition: color 400ms;
}

button.getStar-button::before {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: #0050b2;
  transition: width 400ms;
  margin-bottom: -30px;
}

button.getStar-button:hover:before {
  width: 155px;
}

button.getStar-button:hover {
  color: black;
}

.smbs-content-two .man-el {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
}

.smbs-content-two {
  margin-top: 100px;
}

.smbs-images {
  margin-left: 100px;
}

.sec-lyt-six {
  background-color: black;
  height: 85vh;
}

.flex-container-layt-six {
  display: flex;
  max-width: 75%;
  margin: auto;
  padding-top: 120px;
}

.collapsible {
  background-color: black;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 82%;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  border: 1px solid #0050b2;
  border-radius: 50%;
  background-color: #0050b2;
  padding: 0 7px 0 7px;
}

.active_e:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: black;
  width: 82%;
  color: white;
}

.gen-nav {
  display: flex;
  flex-direction: row;
}

.gen-nav .gen-rec {
  background-color: #f57950;
  width: 235px;
  height: 17px;
  margin-left: 195px;
  margin-top: 40px;
}

.gen-nav .gener-q {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  margin-left: -430px;
}

.container-layt-seven {
  margin: auto;
}

.better-ser-nav {
  display: flex;
  flex-direction: row;
  margin-left: 475px;
}

.better-ser-nav .better-rec {
  background-color: #f57950;
  width: 199px;
  height: 17px;
  margin-left: 465px;
  margin-top: 35px;
}

.better-ser-nav .better-txt {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  margin-left: -465px;
}

table {
  border-collapse: collapse;
  width: 55%;
  margin: auto;
}

td {
  height: 90px;
  width: 10px;
}

.tableButton {
  display: flex;
  justify-content: center;
  margin-right: 38px;
}

.tableButton button {
  padding: 16px 70px 16px 70px;
  border: 1px solid #0050b2;
  border-radius: 5px;
  background-color: #0050b2;
}

.container-layt-nine {
  display: flex;
  justify-content: space-evenly;
}

.customerF-nav {
  display: flex;
  flex-direction: row;
  margin-left: 650px;
}

.customerF-nav .customerF-rec {
  background-color: #72b1ff;
  width: 260px;
  height: 17px;
  margin-left: 280px;
  margin-top: 40px;
}

.customerF-nav .customerF {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  margin-left: -500px;
}

.latest-aticle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.latest-aticle .aticle-rec {
  background-color: #72b1ff;
  width: 190px;
  height: 20px;
  margin-left: 220px;
  margin-top: 35px;
}

.latest-aticle .articles-txt {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  margin-left: -440px;
}

.arti-link {
  margin-top: 30px;
  margin-bottom: 15px;
}

.arti-link a {
  text-decoration: none;
  color: black;
  font-size: 23px;
  font-weight: bold;
}

.arti-link a:hover {
  color: #0050b2;
}

.desin {
  background-color: #f7da77;
  padding: 5px 10px 5px 10px;
  height: 30px;
  margin-left: -90px;
  margin-top: 20px;
}

.container-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.desing {
  background-color: #f8af41;
  padding: 5px 10px 5px 10px;
  height: 30px;
  margin-left: -90px;
  margin-top: 20px;
}

.designn {
  background-color: #ff9292;
  padding: 5px 10px 5px 10px;
  height: 30px;
  margin-left: -90px;
  margin-top: 20px;
}

.container-article-content-one {
  cursor: pointer;
}
